<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />


    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>-->

   <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name="androidx.multidex.MultiDexApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppManager"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1102320340751314~1804500637"/>
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true"/>
   <!--     <meta-data android:name="applovin.sdk.key"
            android:value="rWR2kv32nUsnfmAlxUyFchhcSNbV8gvUlEVDFUIumTi5Z18GINmnDxUmXv8VQeDr95G8dBDHJWtDw9XZFiw_Nu"/>-->

        <activity
            android:name=".activities.PermissionActivty"
            android:theme="@style/Theme.App.Starting"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".activities.SystemAppsUsageActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:exported="false" />

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:exported="true">

        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kerols.appmanager.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>

</manifest>